<div class="signUp container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="form-group row">
                <label for="adminEmail" class="col-2 col-form-label">Email address</label>
                <div class="col-10">
                <input type="email" class="form-control" id="adminEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="adminPassword" class="col-2 col-form-label">Password</label>
                <div class="col-10">
                <input type="password" class="form-control" id="adminPassword" placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <label for="adminUserName" class="col-2 col-form-label">User Name</label>
                <div class="col-10">
                    <input class="form-control" type="text" placeholder="Unique User Name" id="adminUserName">
                </div>
            </div>
            <div class="form-group row">
                <label for="adminFirstName" class="col-2 col-form-label">First Name</label>
                <div class="col-10">
                    <input class="form-control" type="text" placeholder="First Name" id="adminFirstName">
                </div>
            </div>
            <div class="form-group row">
                <label for="adminLastName" class="col-2 col-form-label">Last Name</label>
                <div class="col-10">
                    <input class="form-control" type="text" placeholder="Last Name" id="adminLastName">
                </div>
            </div>
            <div class="form-group row">
                <label for="adminPhone" class="col-2 col-form-label">Telephone</label>
                <div class="col-10">
                    <input class="form-control" type="tel" placeholder="1-(555)-555-5555" id="adminPhone">
                </div>
            </div>
            <button type="submit" class="btn btn-default" ng-click="adminSubmit()">Submit</button>
            </form>

        </div>
        <div class="col-sm-2"></div>
    </div>

</div>